<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="OcrType" value="BaiDu"/> <!--可选值 BaiDu, Tesseract-->
    <add key="AdbPath" value="C:\Program Files (x86)\ClockworkMod\Universal Adb Driver"/>
    <add key="AppId" value="10731580" />
    <add key="ApiKey" value="Q4Q1EQlIYsfisA44pzRu9AWL" />
    <add key="SecretKey" value="6ifmfbSt61UmTIXErOh4oiPu22FQnrza" />
  </appSettings>
</configuration>